@tailwind base;
@tailwind components;
@tailwind utilities;

.image-slider {
    @apply absolute invisible inset-0 max-h-screen object-cover;
    width: 100vw;
    opacity: 0;
}

.active{
    @apply visible !important;
    opacity: 1;
    transition: opacity 2s linear;
}